<div class="row">
  <div class="col-12">
    <% @companies.each do |company| %>
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title"><%= company.name %></h6>

          <h6 class="card-subtitle mb-2 text-muted">Rating:</h6>

          <%= render_daily_avg_review_rating(company, @start_date, @end_date) %>

          <hr/>

          <h6 class="card-subtitle mb-2 text-muted">Rating count:</h6>

          <%= render_daily_avg_review_count(company, @start_date, @end_date) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
